<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>HelloAppEngine</servlet-name>
    <servlet-class>HelloAppEngine</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloAppEngine</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>StudentDatastore</display-name>
    <servlet-name>StudentDatastore</servlet-name>
    <servlet-class>we.app.sdb.StudentDatastore</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentDatastore</servlet-name>
    <url-pattern>/StudentDatastore</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>createStudent</display-name>
    <servlet-name>createStudent</servlet-name>
    <servlet-class>we.app.sdb.createStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>createStudent</servlet-name>
    <url-pattern>/createStudent</url-pattern>
  </servlet-mapping>
</web-app>